<h1>Friends app</h1>
<p>A minha primeira web com Rails.</p>





<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/35af6a41332353.57a1ce913e889.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/993a9141332353.57a1ce913ee47.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://3.bp.blogspot.com/-rOc9ug9wCUI/VNim6W5EujI/AAAAAAAAAio/NpsV32BebF0/s1600/2.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.izismile.com/img/img2/20090811/ugly_people_39.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>